appdirs==1.4.3
arrow==0.10.0
boto3==1.4.7
botocore==1.7.18
certifi==2017.7.27.1
chardet==3.0.4
click==6.7
clickclick==1.2.2
dnspython==1.15.0
docutils==0.14
idna==2.6
jmespath==0.9.3
packaging==16.8
py==1.4.34
PyJWT==1.5.3
pyparsing==2.2.0
pyperclip==1.5.27
pystache==0.5.4
pytest==3.2.2
python-dateutil==2.6.1
PyYAML==3.12
raven==6.2.1
requests==2.18.4
s3transfer==0.1.11
six==1.11.0
stups==1.1.15
stups-cli-support==1.1.15
stups-fullstop==1.1.31
stups-kio==0.1.18
stups-pierone==1.1.30
stups-piu==1.1.12
stups-senza==2.1.84
stups-tokens==1.1.19
stups-zign==1.1.31
typing==3.6.2
urllib3==1.22
zalando-aws-cli==1.1.6
zalando-deploy-cli==0.33.1
zalando-kubectl==1.7.6.post3
